<html>
  <head>
     <link type="text/css" rel="stylesheet" href="/static/stylesheets/style.css" />
  </head>
  <body>
  <div id="container">
      <div id="header">
	  <div id="logo">
	      <a href="/">www.Pivmi.info</a>
	  </div>
	  <div id="menu">
	      <!--
	      <a href="#">home</a> &nbsp; &nbsp; &nbsp; <a href="#">about</a> &nbsp; &nbsp; &nbsp; <a href="#">products</a> &nbsp; &nbsp; &nbsp; <a href="#">contacts</a>
		-->
	  </div>
      </div>
      <div id="main">
	  <div id="left">
	      <div class="block">
		  <h2>www.kerio.com.tw</h2>
		  <a href="http://www.kerio.com.tw" target="_blank"><img src="/static/images/webthumb/kerio.com.tw.jpg" width="200" height="150" alt="" align="left" class="img_left"/></a>
		  Quisque at odio. Etiam placerat, tellus a malesuada sodales, sem enim sagittis
		  nisi, vel semper tellus neque ut arcu. Nullam in eros at ligula nonummy
		  aliquam. Maecenas fermentum. In adipiscing mauris vel nulla. Maecenas
		  euismod lacus <a href="#">sed velit</a>. Vestibulum nibh orci, condimentum eu, molestie
		  interdum, aliquam ac, enim. Duis id ips que at odio. Etiam placerat,
		  tellus a malesuada sodales, sem enim sagittis nisi, vel semper tellus
		  neque ut arcu. Nullam in eros at ligula nonummy aliquam. Maecenas
		  fermentum. In adipiscing mauris <a href="#">vel nulla</a>. Maecenas euismod lacus sed
		  velit. Vestibulum nibh orci, condimentum eu, molestie interdum, aliquam
		  ac, enim.
		  <div class="clear"></div>
	      </div>

	      <div class="block">
		  <h2>Homise 男裝</h2>
		  <a href="http://www.homise.com.tw/front/bin/home.phtml" target="_blank"><img src="/static/images/webthumb/homise.jpg" alt="" align="left" class="img_left"/></a>
		  Quisque at odio. Etiam placerat, tellus a malesuada sodales, sem enim sagittis
		  nisi, vel semper tellus neque <a href="#">ut arcu</a>. Nullam in eros at ligula nonummy
		  velit. Vestibulum nibh orci, condimentum eu, molestie interdum, aliquam
		  ac, enim.
		  <div class="clear"></div>
	      </div>

	      <div class="block">
		  <h2>痞客邦-電影專區</h2>
		  <a href="http://channel.pixnet.net/movie.jpg"><img src="/static/images/webthumb/movie.jpg" alt="" align="left" class="img_left"/></a>
		  Quisque at odio. Etiam placerat, tellus a malesuada sodales, sem enim sagittis
		  nisi, vel semper tellus neque <a href="#">ut arcu</a>. Nullam in eros at ligula nonummy
		  velit. Vestibulum nibh orci, condimentum eu, molestie interdum, aliquam
		  ac, enim.
		  <div class="clear"></div>
	      </div>

	      <div class="block">
		  <h2>瑞山珠寶</h2>
		  <a href="http://www.zrisun.tw/" target="_blank"><img src="/static/images/webthumb/zrisun.jpg" alt="" align="left" class="img_left"/></a>
		  Quisque at odio. Etiam placerat, tellus a malesuada sodales, sem enim sagittis
		  nisi, vel semper tellus neque ut arcu. Nullam in eros at ligula nonummy
		  velit. Vestibulum nibh orci, condimentum eu, molestie interdum, aliquam
		  ac, enim.
		  <div class="clear"></div>
	      </div>

	      <div class="block">
		  <h2>痞客邦-藝文專區</h2>
		  <a href="http://channel.pixnet.net/reading" target="_blank"><img src="/static/images/webthumb/reading.jpg" width="200" height="150" alt="" align="left" class="img_left"/></a>
		  Quisque at odio. Etiam placerat, tellus a malesuada sodales, sem enim sagittis
		  nisi, vel semper tellus neque ut arcu. Nullam in eros at ligula nonummy
		  aliquam. Maecenas fermentum. In adipiscing mauris vel nulla. Maecenas
		  euismod lacus <a href="#">sed velit</a>. Vestibulum nibh orci, condimentum eu, molestie
		  interdum, aliquam ac, enim. Duis id ips que at odio. Etiam placerat,
		  tellus a malesuada sodales, sem enim sagittis nisi, vel semper tellus
		  neque ut arcu. Nullam in eros at ligula nonummy aliquam. Maecenas
		  fermentum. In adipiscing mauris <a href="#">vel nulla</a>. Maecenas euismod lacus sed
		  velit. Vestibulum nibh orci, condimentum eu, molestie interdum, aliquam
		  ac, enim.
		  <div class="clear"></div>
	      </div>

	      <div class="block">
		  <h2>大專校院就業職能診斷平台</h2>
		  <a href="http://itri.fegts.com.tw/files/11-1000-9.php" target="_blank"><img src="/static/images/webthumb/itri.jpg" alt="" align="left" class="img_left"/></a>
		  Quisque at odio. Etiam placerat, tellus a malesuada sodales, sem enim sagittis
		  nisi, vel semper tellus neque <a href="#">ut arcu</a>. Nullam in eros at ligula nonummy
		  velit. Vestibulum nibh orci, condimentum eu, molestie interdum, aliquam
		  ac, enim.
		  <div class="clear"></div>
	      </div>

	      <div class="block">
		  <h2>0rz.tw</h2>
		  <a href="http://0rz.tw" target="_blank"><img src="/static/images/webthumb/0rz.tw.jpg" width="200" height="150" alt="" align="left" class="img_left"/></a>
		  Quisque at odio. Etiam placerat, tellus a malesuada sodales, sem enim sagittis
		  nisi, vel semper tellus neque ut arcu. Nullam in eros at ligula nonummy
		  aliquam. Maecenas fermentum. In adipiscing mauris vel nulla. Maecenas
		  euismod lacus <a href="#">sed velit</a>. Vestibulum nibh orci, condimentum eu, molestie
		  interdum, aliquam ac, enim. Duis id ips que at odio. Etiam placerat,
		  tellus a malesuada sodales, sem enim sagittis nisi, vel semper tellus
		  neque ut arcu. Nullam in eros at ligula nonummy aliquam. Maecenas
		  fermentum. In adipiscing mauris <a href="#">vel nulla</a>. Maecenas euismod lacus sed
		  velit. Vestibulum nibh orci, condimentum eu, molestie interdum, aliquam
		  ac, enim.
		  <div class="clear"></div>
	      </div>

	      <div class="block">
		  <h2>Maecenas</h2>
		  <img src="/static/images/webthumb/NPUE.jpg" alt="" align="left" class="img_left"/>
		  Quisque at odio. Etiam placerat, tellus a malesuada sodales, sem enim sagittis
		  nisi, vel semper tellus neque <a href="#">ut arcu</a>. Nullam in eros at ligula nonummy
		  velit. Vestibulum nibh orci, condimentum eu, molestie interdum, aliquam
		  ac, enim.
		  <div class="clear"></div>
	      </div>

	      <div class="block">
		  <h2>Maecenas</h2>
		  <img src="/static/images/webthumb/tcce.jpg" alt="" align="left" class="img_left"/>
		  Quisque at odio. Etiam placerat, tellus a malesuada sodales, sem enim sagittis
		  nisi, vel semper tellus neque <a href="#">ut arcu</a>. Nullam in eros at ligula nonummy
		  velit. Vestibulum nibh orci, condimentum eu, molestie interdum, aliquam
		  ac, enim.
		  <div class="clear"></div>
	      </div>

	      <div class="block">
		  <h2>Maecenas</h2>
		  <img src="/static/images/webthumb/nuk.jpg" alt="" align="left" class="img_left"/>
		  Quisque at odio. Etiam placerat, tellus a malesuada sodales, sem enim sagittis
		  nisi, vel semper tellus neque <a href="#">ut arcu</a>. Nullam in eros at ligula nonummy
		  velit. Vestibulum nibh orci, condimentum eu, molestie interdum, aliquam
		  ac, enim.
		  <div class="clear"></div>
	      </div>

	      <div class="block">
		  <h2>Maecenas</h2>
		  <img src="/static/images/webthumb/yang.jpg" alt="" align="left" class="img_left"/>
		  Quisque at odio. Etiam placerat, tellus a malesuada sodales, sem enim sagittis
		  nisi, vel semper tellus neque <a href="#">ut arcu</a>. Nullam in eros at ligula nonummy
		  velit. Vestibulum nibh orci, condimentum eu, molestie interdum, aliquam
		  ac, enim.
		  <div class="clear"></div>
	      </div>

	      <div class="block">
		  <h2>Maecenas</h2>
		  <img src="/static/images/webthumb/yanghp.jpg" alt="" align="left" class="img_left"/>
		  Quisque at odio. Etiam placerat, tellus a malesuada sodales, sem enim sagittis
		  nisi, vel semper tellus neque <a href="#">ut arcu</a>. Nullam in eros at ligula nonummy
		  velit. Vestibulum nibh orci, condimentum eu, molestie interdum, aliquam
		  ac, enim.
		  <div class="clear"></div>
	      </div>

	      <div class="block">
		  <h2>Maecenas</h2>
		  <img src="/static/images/webthumb/eyang.jpg" alt="" align="left" class="img_left"/>
		  Quisque at odio. Etiam placerat, tellus a malesuada sodales, sem enim sagittis
		  nisi, vel semper tellus neque <a href="#">ut arcu</a>. Nullam in eros at ligula nonummy
		  velit. Vestibulum nibh orci, condimentum eu, molestie interdum, aliquam
		  ac, enim.
		  <div class="clear"></div>
	      </div>
	  </div>

	  <div id="right">

	      <div class="block">
		  <img alt="" src="/static/images/200_200_white_beer.jpg" height="160" class="img_right"/><br/><br/>
		  <b>皮兒</b>
		  <br/>
		  <a href="mailto:beer@pivmi.info">beer@pivmi.info</a>
		  <br/><br/>
		  現任痞客邦程式設計師，主要使用PHP、JavaScript、Rails。
		  <br/><br/>
		  <img alt="" src="/static/images/separator.gif"/><br/><br/>
		  <img alt="" src="/static/images/200_200_black_pivmi2.jpg" height="160" class="img_right"/><br/><br/>
		  <b>小米</b>
		  <br/>
		  <a href="mailto:pivmi@pivmi.info">pivmi@pivmi.info</a>
		  <br/><br/>
		  現任黑快馬視覺設計師，熟悉PhotoShop、Illustrator、Flash、CSS。
		  <br/><br/>
	      </div>

	  </div>

	  <div class="clear"></div>

      </div>

      <div id="footer">
	  &copy; Copyright 2009 Your Website &nbsp;<span class="separator">|</span> &nbsp; 

	  <!-- Please do not change or delete these links. Read the license! Thanks. :-) -->
	  <a href="http://www.realitysoftware.ca/services/website-development/design/">Website design</a> released by <a href="http://www.flash-gallery.org/">Flash Gallery</a>

      </div>

  </div>
  </body>
</html>
<!--
    Hi! welcome PIVMI.INFO 
    <br>
    If you want to contact us . just leave message .
    <br>

    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>
-->
